body {
    background-color: #278fa4;
    box-sizing: border-box;
    overflow: hidden;
    flex-wrap: wrap;
}

#mardiv {
    margin: 15px 35px;
}

.button-group {
    border: 3.5px solid #000000;
    border-radius: 10px;
    padding: 1em 1%;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #13454F;
    align-items: center;
}

.play-area {
    border: 3.5px solid #000000;
    border-radius: 10px;
    padding: 1em 3%;
    display: flex;
    background-color: #13454F;
    flex-wrap: wrap;
    flex:1;
}

.play-area1 {
    border: 3.5px solid #000000;
    border-radius: 10px;
    width : 71%;
    padding: 1em 1%;
    display: flex;
    justify-content: center;
    background-color: #13454F;
    flex-wrap: wrap;
}

.button-group,
#tokenSection {
    width: 30%;
}

.btn-primary {
    background-color: #83d1e1;
    color: #000000;
    font-weight: 900;
    font-size: 1.15rem;
    width: 310px;
    border: 3px solid #000000;
    display: block;
    flex-wrap: wrap;
}

.button1,
.button2 {
    display: inline-flex;
    width: 145px;
    padding: 4px 8px;
}

.button1 {
    width: 165px;
}

.button3 {
    width: 100px;
    margin: auto 5px;
}

.form-control {
    display: inline-block;
    width: 250px;
    flex-wrap: wrap;
}

.vediocandiv
{
    margin-left: 20px;
}

#deviceSection {
    width: 40%;
    margin-left: 20px;
}

.button {
    margin: 1.5rem 0;
    padding: 0.5em;
    border: 2.5px solid #000000;
    border-radius: 7px;
    background-color: #83d1e1;
    color: #000000;
    font-weight: 900;
    font-size: 1.15rem;
    width: 310px;
}

.play-area-sub {
    width: 47%;
    padding: 1em 1%;
    display: inline-block;
    text-align: center;
}

.play-area-sub1 {
    width: 47%;
    padding: 1em 1%;
    display: inline-block;
    text-align: center;
    flex-wrap: wrap;
}

#suggestion {
    width: 30%;
    margin-left: 20px;
}

#capture {
    display: none;
}
#note{
    color: #524A4E;
    font-size: .8rem;
}

#heading {
    display: flex;
    padding:0;
    justify-content: center;
    color: rgba(0, 0, 0, 0.733);
    font-weight: 900;
    font-size: 1.15rem;
    background-color: #13454F;
    margin-top: 0px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

#head {
    margin: 0rem;
}

video,
#snapshot {
    transform: scaleX(-1);
    border: 3.5px solid #000000;
    /* border-radius: 8px; */
    background-color: #524A4E;
    width: 432px;
    height: 324px;
    display: inline-block;
}

#snapshot {
    display: none;
}

img {
    width: 150px;
    height: 150px;
}

#emoji {
    font-size: 200px;
    margin: 2rem
}

.form-label {
    font-size: 1.2rem;
    font-weight: 600;
}

#current,
#tracktitle,
#trackartist {
    font-weight: 600;
}

.btn-primary:hover,
.button:hover,
.btn-primary:focus,
.button:focus,
.btn-primary:active,
.button:active {
    background-color: #83d1e1;
    border: 3px solid #000000 !important;
    color: #524A4E;
    box-shadow: none !important;
    outline: none !important;
    display: flex;
    flex-wrap: wrap
}

.btn-primary::selection,
.button::selection {
    background-color: #83d1e1;
    border: 5px solid #000000 !important;
    color: #524A4E;
    box-shadow: none !important;
    outline: none !important;
    display: flex;
    flex-wrap: wrap;
}

.copyright {
    color: #524A4E;
    font-size: 15px;
    /* background-image: url("http://localhost:5000/img/logo.png"); */
}